// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.center {text-align: center}
div.center {text-align: center}
h1 {color:green; text-align:center}
img {width:200px;}
body {
  background-color: #F5DEB3;
    padding: 0.5cm;
}

